<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sapayth.bikeexpensemeter">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SingleExpenseActivity" />
        <activity
            android:name=".AddServiceActivity"
            android:label="@string/add_service"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name=".data.ExpenseProvider"
            android:authorities="com.sapayth.bikeexpensemeter"
            android:exported="false" />

        <activity
            android:name=".ReportActivity"
            android:label="@string/report"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CreditActivity"
            android:label="@string/credit"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".SettingsActivity"
            android:label="@string/setting"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>